$bg:      #101313;
$bg_alt:  #151818;
$black:   #151818;
$red:     #f85858;
$green:   #2ac68e;
$pink:    #f076ab;
$blue:    #36a2c6;
$purple: #a07dde;
$cyan:    #3dddd8;
$white:   #d7d7d7;
$dark: $bg;
$light: $white;