*{
  all: unset;
}

// ============================================================
//                                                  Color Stuff
// ============================================================

@import '/home/ljmill/.cache/wal/colors.scss';
@import '/home/ljmill/.config/eww/bar/widgets/control-center.scss';

// Main colors
$black: $color0;
$red: $color1;
$yellow: $color3;
$green: $color2;
$blue: $color4;
$magenta: $color5;
$cyan: $color6;
$white: $color7;
$gray: $color8;
$gray-alt: #333333;

// Control Center Main Colors
$cc-fg: $white;
$cc-bg: $gray-alt;
$cc-circular-bg: $gray;
$cc-text: $white;

// Generic
.black-text {
  color: $black;
}

.red-text {
  color: $red;
}

.green-text {
  color: $green;
}

.yellow-text {
  color: $yellow;
}

.blue-text {
  color: $blue;
}

.magenta-text {
  color: $magenta;
}

.cyan-text {
  color: $cyan;
}

.white-text {
  color: $white;
}

.gray-text {
  color: $gray;
}

// ============================================================
//                                                          Bar
// ============================================================

.eww_bar {
  background-color: hsla(0, 0%, 0%, 0);
  padding: 5px;
  padding-bottom: 10px;
}

.widgets {
  padding-left: 2px;
  padding-top: 2px;
}

.works, 
.time-box, 
.date-box, 
.power-box {
  border-radius: 3px;
  background-color: $gray-alt;
  box-shadow: 5px 5px 2px 0px rgba(0, 0, 0, 0.45);
}


// ============================================================
//                                                     Launcher
// ============================================================

.launcher-icon {
    color: $black;
    font-family: "Font Awesome 6 Pro";
    font-size: 30;
}

// ============================================================
//                                                   Workspaces
// ============================================================

.works {
  padding: 2px 8px 2px 8px;
}

.unfocused-work, 
.focused-work {
  margin: 6px 0px 6px 0px;
  font-family: "Material Design Icons";
  font-size: 22;
}

.unfocused-work {
  color: $gray;
}

.focused-work {
  color: $red;
}

// ============================================================
//                                                        Clock
// ============================================================

.time-box, 
.date-box {
  font-family: Comic Mono;
  font-weight: bold;
  font-size: 18;
  color: $white;
  padding: 2px 8px 2px 8px;
}

.time-hour {
  color: $blue;
}

.time-min {
  color: $gray;
}

// ============================================================
//                                                     Calender
// ============================================================

.cal-box {
  background-color: $black;
  font-family: Comic Mono;
  font-size: 1em;
  font-weight: bold;

  .cal-inner-box {
    padding: 1rem 1rem .2rem;

    .cal {
      &.highlight {
        padding: 10rem;
      }

      padding: .8rem .25rem 0rem;
      margin-left: 10px;
    }
  }
}

calendar:selected {
  color: $blue;
}

calendar.header {
  color: $blue;
  font-weight: bold;
}

calendar.button {
  color: $magenta;
}

calendar.highlight {
  color: $magenta;
  font-weight: bold;
}

calendar:indeterminate {
  color: $background;
}

// ============================================================
//                                                    Powermenu
// ============================================================

.powermenu {
  font-family: feather;
  font-size: 22;
  font-weight: bold;
}

.reb-button, 
.lock-button,
.quit-button, 
.off-button {
  padding: .5rem .2rem .3rem .2rem;
}

.off-button {
  margin-bottom: .3rem;
  margin-top: .2rem;
  color: $red;
}

.reb-button {
  color: $yellow;
  margin-top: .2rem;
}

.quit-button {
  color: $magenta;
}

.lock-button {
  color: $blue;
}