// ============================================================
//                                               Control Center
// ============================================================

@import '/home/ljmill/.cache/wal/colors.scss';

// Main colors
$black: $color0;
$red: $color1;
$yellow: $color3;
$green: $color2;
$blue: $color4;
$magenta: $color5;
$cyan: $color6;
$white: $color7;
$gray: $color8;
$gray-alt: #333333;

// Control Center Main Colors
$cc-fg: $white;
$cc-bg: $gray-alt;
$cc-circular-bg: $gray;
$cc-text: $white;

// Main container box
.cc-padded-box {
    background-color: rgba(198, 198, 198, 0.507);
    padding: 15px;
    border-radius: 30px;
    border-style: solid;
  }
  
  // Smaller boxes containing top widgets
  .cc-connectivity-box,
  .cc-dnd-box,
  .cc-keybright-box, 
  .cc-weather-box {
    background-color: $cc-bg;
    border-radius: 20px;
  }
  
  .cc-keybright-image {
    margin-top: 15px;
    margin-bottom: 5px;
  }
  
  .cc-keybright-label {
    font-size: 16px;
    font-family: "Ubuntu";
    font-weight: bold;
    color: $cc-fg;
  }
  
  .cc-weather-icon {
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 40px;
  }
  
  .cc-weather-label {
    font-size: 16px;
    font-family: "Ubuntu";
    font-weight: bold;
    color: $cc-fg;
  }
  
  // Colored round circles
  .cc-wifi-circle-glyph,
  .cc-bluetooth-circle-glyph,
  .cc-airplane-circle-glyph,
  .cc-dnd-circle-glyph {
    font-size: 55px;
  }
  
  .cc-wifi-circle-glyph {
    color: $green;
  }
  
  .cc-bluetooth-circle-glyph {
    color: $red;
  }
  
  .cc-airplane-circle-glyph {
    color: $blue;
  }
  
  // Actual glyph symbols contained in above circles
  .cc-wifi-glyph,
  .cc-bluetooth-glyph,
  .cc-airplane-glyph,
  .cc-dnd-glyph {
    font-size: 24px;
  }
  
  .cc-dnd-glyph {
    font-family: "Font Awesome 6 Pro Solid";
  }
  
  // Text labels
  .cc-title-label, 
  .cc-sub-label {
    font-family: "Ubuntu";
    color: $cc-text;
  }
  .cc-title-label {
    font-size: 16px;
    font-weight: bold;
  }
  
  // Slider bars
  .cc-slider-box {
    background-color: $cc-bg;
    padding-bottom: 10px;
    padding-left: 15px;
    border-radius: 20px;
  
  }
  
  .cc-slider-title {
      font-family: "Ubuntu";
      font-size: 1.5em;
      padding: 5px; 
      color: $cc-text;
  }
  
  // Not used in this iteration (for putting symbol on top of slider like mac os)
  .cc-slider-label {
    font-family: "Font Awesome 6 Pro";
    margin-left: 10px;
  }
  
  // Rounding right ends of sliders & setting thickness (height)
  .cc-volbar trough highlight,
  .cc-spbribar trough highlight,
  .cc-bribar trough highlight {
    min-height: 13px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
  }
  
  // Positioning sliders relative to hilts so they line up
  .cc-volbar {
    margin-left: 120px;
    margin-top: 12px;
  }
  .cc-bribar {
    margin-left: 110px;
    margin-top: 10px;
  }
  .cc-spbribar {
    margin-left: 110px;
    margin-top: 12px;
  }
  
  // Color of sliders (swap commented/uncommented for glow)
  .cc-volbar trough highlight {
    // box-shadow: 0px 0px 5px 5px $green;
    // background-color: #ffffff;
    background-color: $green;
  }
  
  .cc-bribar trough highlight {
    // box-shadow: 0px 0px 5px 5px $red;
    // background-color: #ffffff;
    background-color: $red;
  }
  
  .cc-spbribar trough highlight {
    // box-shadow: 0px 0px 5px 5px $blue;
    // background-color: #ffffff;
    background-color: $blue;
  }
  
  // System Circles
  .cc-bat-box,
  .cc-mem-box,
  .cc-cpu-box {
    background-color: $cc-bg;
    border-radius: 20px;
    padding: 10px;
    
  }
  
  .cc-bat-icon, 
  .cc-mem-icon, 
  .cc-cpu-icon{
    font-size: 34;
    margin: 40px;
  }
  
  .cc-cpu,
  .cc-cpu-icon {
    color: $red;
  }
  
  .cc-mem,
  .cc-mem-icon {
    color: $blue;
  }
  
  .cc-bat,
  .cc-bat-icon {
    color: $green;
  }
  
  .cc-cpu,
  .cc-mem, 
  .cc-bat {
    background-color: $cc-circular-bg;
    border-radius: 10px;
  }
  
  // ************ SCRATCH **************
  // Good longsword scale/gradiant
  //border-radius: 0px 200px 200px 0 / 0px 30px 30px 0;
  //background-image: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 49%, rgba(255,255,255,1) 50%, rgba(251,251,251,1) 51%, rgba(0,0,0,1) 100%);
  //background-image: linear-gradient(0deg, hsl(0, 0%, 49%) 0%, hsl(41, 18%, 50%) 49%, rgba(0,0,0,1) 50%, hsl(0, 0%, 100%) 51%, hsl(0, 0%, 62%) 100%);