$bg:        #1e1e2e;
$black:     #313244;
$red:       #f38ba8;
$green:     #a6e3a1;
$yellow:    #f9e2af;
$pink:      #f5c2e7;
$blue:      #89b4fa;
$purple:    #cba6f7;
$cyan:      #89dceb;
$white:     #cdd6f4;